<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.dao.CityMapper">

    <select id="selectAllCitys" resultType="map">
      select *
      from city
    </select>
    <select id="findCitys" parameterType="String" resultType="map">
        select citycode,cityname
        from city
        WHERE province = #{provinceid}
    </select>
    <select id="findCounty" parameterType="String" resultType="map">
        select county,countycode
        from county
        WHERE citycode = #{citycode}
    </select>
    <select id="findCountyName" parameterType="String" resultType="String">
        SELECT county
        FROM county
        WHERE countycode = #{countycode}
    </select>
</mapper>